---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Footer from '@/components/Footer.astro'
import { DashboardLayout } from '@layouts/react/DashboardLayout'
import { Surveys } from '@/components/react/dasboard/Surveys'
---

<BaseLayout>
  <DashboardLayout client:only="react">
    <div class="flex flex-col justify-between">
      <Surveys client:only="react" />
      <Footer />
    </div>
  </DashboardLayout>
</BaseLayout>
