---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout>
  <div class="flex flex-col items-center justify-center gap-4 mt-72">
    <h1 class="text-center text-6xl font-bold">Page not found :(</h1>
    <a
      href="/"
      class="text-center text-xl font-bold bg-neutral-800 hover:bg-neutral-900 transition-colors rounded-lg px-4 py-2 mt-10">
      Go back home
    </a>
  </div>
</BaseLayout>
