---
import Header from '@components/Header.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import Steps from '@components/Steps.astro'
import CallToAction from '@components/CallToAction.astro'
---

<BaseLayout>
  <Header />
  <main class="mt-28 flex flex-col items-center gap-28">
    <Steps />
    <CallToAction />
  </main>
</BaseLayout>
