---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout>
  <header class="mt-28 flex flex-col gap-4">
    <h1 class="text-4xl font-bold">Welcome to Survey DAW</h1>
    <p class="text-xl max-w-xl text-pretty">
      This survey will assess your interview skills in minutes! Provide a few
      documents, answer some questions, and receive valuable feedback to help
      you excel.
    </p>
  </header>
</BaseLayout>
