---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import { cannonicalURL } from '@constants/seo'
import { Head } from 'astro-capo'
const isProd = import.meta.env.PROD

const localeCode = {
  es: 'es_ES',
  en: 'en_US'
}

const currentLang = getLangFromUrl(Astro.url)
const t = useTranslations(currentLang)
---

<Head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Just ask</title>

  <link rel="sitemap" href="/sitemap-index.xml" />

  <link rel="canonical" href={cannonicalURL} />
  <meta name="keywords" content={t('meta.keywords')} />
  <meta name="description" content={t('meta.description')} />

  <meta property="og:image" content="/og.png" />
  <meta property="og:title" content="Just Ask" />
  <meta property="og:description" content={t('meta.description')} />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:site_name" content="Just Ask" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content={localeCode[currentLang]} />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Just Ask" />
  <meta name="twitter:description" content={t('meta.description')} />
  <meta name="twitter:image" content="/og.png" />

  {
    isProd && (
      <script
        is:inline
        defer
        src="https://analytics.hgo.one/script.js"
        data-website-id="052b7a31-a682-472d-943f-6df7e0f58982"
      />
    )
  }
</Head>
