---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import { MagicCard } from '@ui/magicui/magic-card'
import WordPullUp from '@ui/magicui/word-pull-up'
import {
  Search,
  ClipboardList,
  SlidersVertical,
  Smile,
  Sparkles
} from 'lucide-react'
import type React from 'react'
import type { SVGProps } from 'react'

interface StepData {
  title: string
  desc: string
  icon: React.FC<SVGProps<SVGSVGElement>>
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const steps: StepData[] = [
  {
    title: t('steps.1.title'),
    desc: t('steps.1.desc'),
    icon: Search
  },
  {
    title: t('steps.2.title'),
    desc: t('steps.2.desc'),
    icon: ClipboardList
  },
  {
    title: t('steps.3.title'),
    desc: t('steps.3.desc'),
    icon: SlidersVertical
  },
  {
    title: t('steps.4.title'),
    desc: t('steps.4.desc'),
    icon: Smile
  },
  {
    title: t('steps.5.title'),
    desc: t('steps.5.desc'),
    icon: Sparkles
  }
]
---

<section class="flex flex-col items-center gap-28 w-full">
  <WordPullUp
    client:only="react"
    className="text-4xl font-bold tracking-[-0.02em] text-black dark:text-white md:text-6xl md:leading-[5rem]"
    words={t('steps.title')}
  />
  <ol class="flex flex-col flex-nowrap sm:flex-row sm:flex-wrap gap-12">
    {
      steps.map(({ title, desc, icon: Icon }) => (
        <li class="w-full sm:flex-1">
          <MagicCard
            client:only="react"
            className="cursor-pointer flex flex-col items-center justify-center shadow-2xl whitespace-nowrap w-full h-full sm:h-80 p-4"
            gradientColor="#262626">
            <div class="flex flex-col gap-8 justify-center items-center">
              <div class="bg-zinc-800 p-4 inline rounded-full">
                <Icon className="w-9 h-9" />
              </div>
              <div class="flex flex-col gap-4 text-center">
                <h2 class="text-2xl sm:text-3xl font-medium text-pretty sm:text-nowrap">
                  {title}
                </h2>
                <p class="text-md sm:text-lg max-w-md text-pretty">{desc}</p>
              </div>
            </div>
          </MagicCard>
        </li>
      ))
    }
  </ol>
</section>
