---
import { getLangFromUrl } from '@/i18n/utils'
import CommonHead from '@components/CommonHead.astro'
import '@styles/globals.css'

const lang = getLangFromUrl(Astro.url)
---

<html lang={lang} class="dark">
  <head>
    <CommonHead />
  </head>
  <body class="max-w-7xl mx-auto w-[90%]">
    <slot />
  </body>
</html>
